body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;  
}

a, a:visited{
  text-decoration: none;
 }
  

.header {
  background-color: #394989;
  padding-top: 3rem;
  padding-left: 5rem;
  border-bottom: solid 40px #ffc93c;
}

#name-title {
  color: #fff;
  font-family: "Roboto", sans-serif;  
  font-weight: 800;
  padding: 0;
}
#name-title h5 {
  color: #dfd3c3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.3;

  margin: 0;
}
#name-title h2 {
  font-size: 3rem;
  margin: 0;
}
#lastname {
  color: #ffc93c;
}

.nav-class {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 3rem auto 0 auto;
  padding-right:20px;
}

.nav-item{
  padding: 13px;
}
.nav-item, .nav-link {
  color: #dfd3c3; 
  font-family: "Roboto", sans-serif;
  position: relative;
  text-decoration: none;
  padding-top: 5px;    
}

.nav-link::after {
  content: "";
  position: absolute;
  top:0px;
  left:0;
  width:100%;
  height:3px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin:bottom right;
  background-color:#ffc93c ;
}

.nav-link:hover::after{
  transform-origin: bottom left;
  transform:scaleX(1);
}

.active,.nav-link:hover {
  color: #fff; 
}

/*---------------------------------------ABOUT SECTION ------------------------------*/

#about-section{
  margin: auto 200px;
  color: #111d5e;
  font-family: "Roboto", sans-serif;
}

.about-heading{
  font-size:1.6rem;
  color: #db6400;
  text-align: center;
  text-transform: uppercase;
 }
 .about-body{
  display:flex;
  flex-direction:row; 
  margin-top:20px; 
} 

.about-body-section p{
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: justify;
  }

.about-image img{
  border: double 10px #CFD3CE;
  border-radius:3%;
  margin:60px 0 0 30px;
}

#kodekloud {
  color: #11698e;
} 

button {
  background-color:#394989;
  border: none;
  color: #fff ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: 4px;
  font-size: 1.8rem;
  transition: transform 0.4s ease;
}

button:hover {
  background-color: #fff; 
  color: #394989; 
  border: 4px solid #394989;
  padding:  11px 28px;     
}


.icons-items{
  margin:auto 160px;
}
.fa{
  font-size:60px;
  padding:20px;
}


/*-----------------------------------------CERTIFICATICATIONS------------------------------------*/
.certification-items{
  display: grid;
  grid-template-columns: auto auto auto;
}
.fa-external-link{
   font-size:20px;
  padding:10px;
  }



footer{
  background-color: #ffc93c;
  height: 50px;
  border-top: solid 5px #394989;
}

.footer-note{
  font-size: 1.2rem;
  text-align: center;
  padding-top:auto;
}

/*----------------------------------------CONTACT SECTION-----------------------------------*/

.contact-heading{
  text-align:center;
  color:#d92027 ;
  font-weight: 800;
  font-size:1.9rem;
}

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}
.contact form label{
  display: block;
  color:#09B1EC;
  font-weight: 600;
}

.contact form .full{
  grid-column: 1 / 3;
}


.contact form button,.contact form input,.contact form textarea{
  width:100%;
  font-size:1.8rem;
  padding:0.6rem;
  border: 1px solid #c9e6ff;
   
}
.contact form button {
  background-color:#09B1EC;
  text-transform: uppercase;
  border:none;
  font-size:1.4rem;
  color:#fff;
  width:70%;
  margin-left: 60px;
}

.contact form button:hover, .contact form button:focus {
  background-color:#3D7EA6;
  color:#40a8c4;
  transition: background-color 2s ease-out;
}
